/* About Styles */

/* Content */
.content {  
    max-width: 1200px;
    margin: 100px auto;
    padding: 40px 20px 0;
}

.content .top {
    text-align: center;
}

.content .top h1 {
    font-style: italic;
    font-size: 48px;
    margin-bottom: 50px;
    text-decoration-line: underline;
    text-underline-offset: 20px;
}

.content .bottom {
    font-size: 16px;
    color: #404040;
    padding: 50px;
    margin-bottom: 30px;
}

.bottom img {
    display: block;
    margin: 0 auto 40px auto;
    width: 300px;
    height: 300px;
    border-radius: 10%;
}

.content .bottom h2 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 20px;
}
.content .bottom ul {
    margin-left: 20px;
}

.content .bottom p{
    font-size: 18px;
    text-align: center;
    line-height: 1.6;
}

.content .bottom .button{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.content .bottom button{
    margin-top: 30px;
    padding: 10px 18px;
    background-color: #000;
    color: #fff;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid transparent;
}

.content .bottom button:hover {
    background-color: #fff;
    color: #000;
    border-color: #606060;
    transition: all 0.3s ease;
}

/* Page title */
.page-title {
    text-align: center;
    font-size: 48px;
    font-style: italic;
    margin-bottom: 60px;
    text-decoration: underline;
    text-underline-offset: 15px;
}

/* Table wrapper */
.biodata-table-wrapper {
    max-width: 800px;
    margin: 0 auto;
}

/* Table */
.biodata-table {
    width: 100%;
    border-collapse: collapse;
    background: #1e293b;
    border-radius: 14px;
    overflow: hidden;
}

/* Table row */
.biodata-table tr {
    border-bottom: 1px solid #334155;
}

/* Header cell */
.biodata-table th {
    width: 35%;
    padding: 18px 20px;
    text-align: left;
    background: #0f172a;
    color: #ff6600;
    font-weight: 600;
}

/* Data cell */
.biodata-table td {
    padding: 18px 20px;
    color: #e5e7eb;
}

/* Hover effect */
.biodata-table tr:hover {
    background: #126f86;
    transition: 0.3s;
}


/* Responsive Adjustments */
@media (max-width: 1400px) {
    .content {
        padding-top: 130px;
    }
}

@media (max-width: 768) {
    .page-title {
        font-size: 36px;
    }

    .biodata-table th,
    .biodata-table td {
        padding: 14px;
        font-size: 14px;
    }

    .bottom img {
        width: 100%; 
        height: auto; 
        margin-bottom: 20px; 
    }
}

@media (max-width: 480px) {
    .bottom img {
        width: 100%;
        margin-bottom: 15px;
    }

    .biodata-table-wrapper {
        width: 100%;           
        max-width: 800px;     
        margin: 0 auto;       
        overflow-x: auto;     
        padding: 0 10px;      
    }

    .biodata-table-wrapper table {
        width: 100%;          
        border-collapse: collapse;
        border-radius: 2%;
    }

    .biodata-table-wrapper table th,
    .biodata-table-wrapper table td {
        padding: 8px;
        text-align: left;
        font-size: 14px;      
    }
}