/* Family Style */

/* Content */
.content {
    max-width: 1200px;
    margin: 100px auto;
    padding: 40px 20px 0;
}

.content .top {
    text-align: center;
}

.content .top h1 {
  font-style: italic;
    font-size: 48px;
    margin-bottom: 100px;
    text-decoration-line: underline;
    text-underline-offset: 20px;
}

/* Family */
.family-image {
    margin-bottom: 40px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0,0,0,0.4);
}

.family-image img {
    width: 100%;
    height: 800px;
    object-fit: cover;
    display: block;
}

.family-details {
    background: rgba(30, 41, 59, 0.7);
    padding: 30px;
    border-radius: 18px;
}

/* Grid */
.number-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    max-width: 600px;
    margin: 0 auto;
}

.number-grid ol {
    padding-top: 30px;
    color: #e5e7eb;
}

.number-grid ul {
    padding-bottom: 30px; 
}


/* Responsive adjustments */
@media (max-width: 1400px) {
    .content {
        padding-top: 130px;
    }
}

@media (max-width: 768px) {

    .family-image img {
        height: 350px;
    }

    .family-details {
        padding-left: 50px;
    }

    .number-grid {
        grid-template-columns: 1fr;
        gap: 30px;
        max-width: 100%;
    }
}