/* Skill Style */

/* Content */
.content {
    max-width: 1200px;
    margin: 100px auto;
    padding: 40px 20px 0;
}

.content .top {
    text-align: center;
}

.content .top h1 {
  font-style: italic;
    font-size: 48px;
    margin-bottom: 100px;
    text-decoration-line: underline;
    text-underline-offset: 20px;
}

/* Grid */
.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 25px;
}

/* Skill Card */
.skill-card {
    background: #1e293b;
    border-radius: 12px;
    overflow: hidden;
    transition: 0.3s;
}

.skill-card:hover {
    transform: translateY(-8px);
}

.skill-card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.skill-card h3 {
    padding: 15px 15px 5px;
    font-size: 18px;
    color: #93c5fd;
}

.skill-card p {
    padding: 0 15px 20px;
    font-size: 14px;
    color: #ccc;
    line-height: 1.6;
}


/* Responsive adjustments */
@media (max-width: 1400px) {
    .content {
        padding-top: 130px;
    }
}